<h1>Информация о пациенте</h1>
<%= link_to 'Вернуться к списку пациентов', patients_path, class: 'btn btn-link' %>

<div>
  <%= link_to 'Изменить', edit_patient_path(@patient), class: 'btn btn-warning mr-2' %>
  <%= link_to 'Удалить', @doctor, 
      data: 
      { 
        turbo_method: :delete, 
        turbo_confirm: "Вы уверены, что хотите удалить пациента №#{@patient.id}: #{@patient.full_name}?" 
      }, 
      class: 'btn btn-danger'
    %>
</div>



<div>
  <strong>ФИО:</strong> <%= "#{@patient.last_name} #{@patient.first_name} #{@patient.middle_name}" %><br>
  <strong>Дата рождения:</strong> <%= @patient.date_of_birth.try(:strftime, "%d.%m.%Y") %><br>
  <strong>Рост:</strong> <%= @patient.height %> см.<br>
  <strong>Вес:</strong> <%= @patient.weight %> кг.<br>
  <strong>Пол:</strong> <%= @patient.gender == "male" ? "Мужской" : "Женский" %><br>

  <% if @patient.doctors.any? %>
    <strong>Врачи:</strong>
    <ul>
      <% @patient.doctors.each do |doctor| %>
        <li><%= doctor.full_name %></li>
      <% end %>
    </ul>
  <% else %>
    <strong>Врачи:</strong> нет
  <% end %> <br>

  <% if @patient.result_bmrs.any? %>
    <%
      latest_result = @patient.result_bmrs.order(calculate_at: :desc).first
      formula_text = case latest_result.formula_used
                     when 'mifflin_sant_geora'
                       ' Формула Миффлина – Сан Жеора'
                     when 'harris_benedict'
                       'Формула Харриса–Бенедикта'
                     end
    %>
    <strong>Последний результат BMR:</strong> <%= latest_result.result_value %> (<%= formula_text %>)<br>
  <% else %>
    <strong>Результат BMR:</strong> нет<br>
  <% end %><br>
</div>



</div>

<div class="mt-3">

  <%= form_tag(calculate_bmr_patient_path(@patient), method: :post, local: true) do %>
    <fieldset>
      <legend>Выберите формулу для расчёта BMR:</legend>
      
      <%= label_tag :formula, class: 'radio-button-container' do %>
        <%= radio_button_tag :formula, 'mifflin_santGeora', true %>
        <span>Формула Миффлина – Сан Жеора</span>
      <% end %>

      <%= label_tag :formula, class: 'radio-button-container' do %>
        <%= radio_button_tag :formula, 'harris_benedict' %>
        <span>Формула Харриса–Бенедикта</span>
      <% end %>
    </fieldset>

    <%= submit_tag 'Рассчитать BMR', class: 'btn btn-primary' %>
  <% end %> 
  <br>

  <%= link_to 'История расчетов BMR', bmr_history_patient_path(@patient), class: 'btn btn-primary me-2' %>

</div>

<div>
  <h2>Индекс Массы Тела (ИМТ)</h2>

  <p>Ваш индекс массы тела:</p>
  <div id="bmi_result"></div>

  <script>
  fetch('<%= bmi_calculate_patient_path(@patient) %>', {
    method: 'GET',
  })
  .then(response => response.json())
  .then(data => {
    document.getElementById("bmi_result").innerText = `Ваш ИМТ: ${data.bmi}, категория: ${data.category}`;
  })
  .catch(error => console.error('Ошибка:', error));
  </script>
</div>