<!DOCTYPE html>
<html>
  <head>
    <title>My Test Task App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <!-- Подключаем стили Choices.js -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/choices.js/public/assets/styles/choices.min.css" />

    <!-- Затем подключаем собственные стили -->
    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>

    <!-- Импортируем карту JavaScript -->
    <%= javascript_importmap_tags %>

    <!-- Подключаем библиотеку Choices.js -->
    <script src="https://cdn.jsdelivr.net/npm/choices.js/public/assets/scripts/choices.min.js"></script>

    <%= yield :head %>

    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
  </head>

  <body>
    <%= yield %>
  </body>
</html>